<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>calendario</title>
</head>
<body>
<h1>Partite </h1>
<h2>Totale = [[${calendario.size()}]] </h2>
<ul>
    <li th:each="partita: ${calendario}">
        <a th:href="@{'/partite' + '/' + ${partita.id}}"
           th:text="${partita.squadraCasa.nome + ' vs ' + partita.squadraOspite.nome}">USA vs Mexico</a>
        <span th:text="${#temporals.format(partita.dataOra, 'dd/MM/yyyy HH:mm')}">11/05/2026 11:30</span>
    </li>
    <h1>Da modificare </h1>

</ul>
</body>
</html>