<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/schede.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>

<body>
<header>
    <div th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <form th:action="@{/logout}" method="POST" style="display:inline;">
            <button type="submit">Logout</button>
        </form>
    </div>
    <div th:unless="${userDetails}">
        <a href="/login">Login</a>
    </div>
</header>
<h1>SIW TORNEI CALCIO</h1>
<ul>
    <li>
        <a th:href="@{/tornei/}">Lista dei tornei</a>
    </li>
</ul>

<h2>
    <a href="/admin">Funzionalità amministatore</a>
</h2>


</body>
</html>