@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nasconde la scrollbar orizzontale nel MatchTicker */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #09090b;
}
